* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    color: bisque;
    text-align: center;
}

#container {
    background-color: rgb(17, 37, 218);
    margin: 5% 30%;
    padding: 5% 5%;
}

button {
    color: bisque;
    margin: 4% 0% 4%;
    background-color: black;
    cursor: pointer;
}

input,
button {
    margin-top: 5%;
}